<%- include('navbar', {active : "manage records"}) %>

<!-- Beginning of manage records section -->
<div class="container">
  <div class="row">
    <div class="col col-lg-12 pt-5">
      <h1>Manage <%= userdata[0].first_name %>'s Records</h1>
    </div>
  </div>

  <div class="container pb-5 mb-4">
    <header class="pb-3 border-bottom"></header>
    <form action="searchmyrecords" method="POST">
    <div class="row pt-3 pb-5">
      
        <div class="column col-md-12 col-lg-6 input-group rounded pt-3">
          <input
            type="searchphrase"
            name="searchphrase"
            class="form-control rounded"
            placeholder="Search my Records"
            aria-label="Search"
            aria-describedby="search-addon"
          />

          <button class="buttonSearch btn">
            <span
              class="input-group-text border-0"
              id="search-addon"
              type="submit"
              name="search"
            >
              <i class="fas fa-search"></i>
            </span>
          </button>
     
    </div>

    <div class="column col-md-12 col-lg-2 pl-2 pt-3 text-center">
      <select
              class="form-select form-select p-1"
              aria-label=".form-select-lg example"
              name = "filter"
            >
              <option value="all" selected>All Records</option>
              <option value="artist">By Artist</option>
              <option value="genre">By Genre</option>
            </select>
    </div>
     

      <div class="column col-md-12 col-lg-3 pl-2 pt-3 text-center">
        <a href="\addRecord">
          <button
            class="enlarge btn btn-outline-secondary text-white"
            type="button"
          >
            + Add New Record
          </button>
        </a>
      </div>
    </form>
    </div>

    <div class="row pt-3 text-center pb-5">

      <% if (rowdata.length == 0) { %>
      <div class = "p-5 m-5 mx-auto text-muted">
        <h1>No Records Found</h1>
        <h1 class="pt-5 mt-2">☹</h1>
      </div>
      <% } %>

      <% rowdata.forEach((record)=> { %>

      <div class="column col-md-6 col-lg-3 text-center pb-4">
        <a
          href="\viewRecord?recordid=<%= record.record_id %>"
          class="getStarted"
        >
          <div class="card card1 text-dark">
            <img
              class="card-img-top cardImage mx-auto img-thumbnail"
              src="<%= record.cover_image %>"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong><%= record.record_name %></strong>
              <p class="pt-3 pinktext"><%= record.artist_name %></p>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<!-- End of manager records section -->

<%- include('footer') %>
