<%- include('membernavbar', {active : "view collection"}) %>

<div class="row d-flex justify-content-center align-items-left h-100 pt-5 pb-5">
  <div class="column col-8 col-md-6 col-xl-4 pt-1 mt-1 mb-1 pt-3 mt-3">
    <div class="card mx-auto" style="width: 15rem">
      <img
        class="card-img-top"
        src="<%= rowdata[0].collection_image %>"
        alt="Card image cap"
      />
    </div>
    <h3 class="pb-4 pt-4 text-center">
      Edit Records in: <%= rowdata[0].collection_name %>
    </h3>
    <div class="pb-3 mb-4 text-center">
      <form
        action="removecollection?collectionid=<%= rowdata[0].collection_id %>"
        method="POST"
      >
        <button
          class="buttonDefault btn btn-danger text-white"
          type="submit"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Remove Collection"
        >
          - REMOVE COLLECTION
        </button>
      </form>
      </div>

    <% rowdata.forEach(element => { %>
    <div class="row d-flex justify-content-center">
      <div class="column col-2">
        <div class="card mx-auto" style="width: 3rem">
          <img
            class="card-img-top"
            src="<%= element.cover_image %>"
            alt="Card image cap"
          />
        </div>
      </div>

      <div class="column col-8">
        <form
          action="removefromcollection?collectionid=<%= element.collection_id %>"
          method="POST"
        >
          <div class="input-group input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              value="<%= element.record_name %>"
              aria-label="track name"
              aria-describedby="basic-addon2"
              name="trackname"
            />
            <div class="input-group-append">
              <button
                class="buttonDefault btn btn-danger text-white"
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Remove Record from Collection"
                name="edit"
                value="remove"
              >
                -
              </button>
              <!-- Passing track_id through a hidden div for each input field -->
              <input type="hidden" name="recordid" value="<%= element.record_id %>" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <% }) %>
    <div class="row d-flex justify-content-center">
      <form
        action="addtocollection?collectionid=<%= rowdata[0].collection_id %>"
        method="POST"
      >
        <div class="form-outline mb-3 pt-3"></div>
        <select
          class="form-select form-select mb-3 p-2"
          aria-label=".form-select-lg example"
          name="record"
        >
          <option selected>--Add a Record--</option>
          <% userrecords.forEach(record => { %>
          <option value="<%= record.record_id %>">
            <%= record.record_name %>
          </option>
          <% }) %>
        </select>
        <button
          class="enlarge btn btn-danger text-white"
          type="submit"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Add Record to Collection"
        >
          +
        </button>
      </form>
    </div>
  </div>
</div>

<%- include('footer') %>
